.notif{
    width: 600px;
    margin:20px auto;
    height: 80vh;
}
.notif .notif-itm{
    display: flex;flex-direction: row;
    margin-top: 80px;
}
.notif .notif-itm p{
    font-size: 14px;
    margin-bottom: 0;
}
.notif-conten{
    margin-left: 10px;
}
.notif-conten .tm-stp{
    margin-top: 20px;
}
.notif-dion img{
    width: 50px;
    height: 50px;
}
.iopi img{
    width: 100px;
    margin-left: 30px;
}