<div class="notif">
    <div class="notif-itm" *ngFor="let auxUser of auxUsers;let ind=index;">
        <div class="notif-dion">
            <img src="{{auxUser.avatar}}">
        </div>
        <div class="notif-conten">
            <p><b>{{auxUser.fullname}} </b>{{auxUser.email}}</p>
            <div [ngSwitch]="pics[ind].notification_type">
            <p *ngSwitchCase="'Comment'"><img src="/assets/images/follow-user.PNG">commented your post</p>
            <p *ngSwitchCase="'Liked'"><img src="/assets/images/like-hand.PNG">liked you post</p>
        </div>
            <p class="tm-stp"><b>now</b></p>
        </div>
        <div class="iopi">
        <img src="{{this.pics_real[ind].post_url}}">
    </div>
    </div>
</div>
