<div class="kim">
    <div class="cin">
        <h1>Also Available In Smart Watch Version</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text</p>
        <div class="bv">
        <img src="/assets/images/appstore.png">
        <img src="/assets/images/playstore.png">
    </div>
    </div>
    <div class="cio">
        <img src="/assets/images/watch.png">
    </div>
   </div>
