<div class="bvk">
    <h1>Awesome features</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img>
                        <h6>Drap & Drop Builder</h6>
                        <p>Lorem ipsum dolor mollitia assumenda dignissimos. Voluptatum sequi iste voluptas recusandae aliquam ea assumenda, nihil vero?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img>
                        <h6>Drap & Drop Builder</h6>
                        <p>Lorem ipsum dolor mollitia assumenda dignissimos. Voluptatum sequi iste voluptas recusandae aliquam ea assumenda, nihil vero?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img>
                        <h6>Drap & Drop Builder</h6>
                        <p>Lorem ipsum dolor mollitia assumenda dignissimos. Voluptatum sequi iste voluptas recusandae aliquam ea assumenda, nihil vero?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img>
                        <h6>Drap & Drop Builder</h6>
                        <p>Lorem ipsum dolor mollitia assumenda dignissimos. Voluptatum sequi iste voluptas recusandae aliquam ea assumenda, nihil vero?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img>
                        <h6>Drap & Drop Builder</h6>
                        <p>Lorem ipsum dolor mollitia assumenda dignissimos. Voluptatum sequi iste voluptas recusandae aliquam ea assumenda, nihil vero?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img>
                        <h6>Drap & Drop Builder</h6>
                        <p>Lorem ipsum dolor mollitia assumenda dignissimos. Voluptatum sequi iste voluptas recusandae aliquam ea assumenda, nihil vero?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>