.wr{
    width: 40%;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    width: 150px;
}
button{
    align-self: flex-start;
    border:none;
    background:cornflowerblue;
    padding:5px 30px;
    margin-top: 20px;
    color:#fff;
    border-radius: 5px;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
padding-left: 20px;
}