
<div class="mcard">
<h1 class="brand-name">Instagram</h1>
<div class="wr">
    <form #myForm="ngForm">
    <input type="text" placeholder="enter email" ngModel name="email">
    <input type="password" placeholder="enter password" ngModel name="password">
    <button (click)="loginUser(myForm.value)">Log In</button>
    <div class="orj">
        <div class="hr"></div>
        <div class="orr">OR</div>
        <div class="hr"></div>
      </div>
      <div class="fb-lg">
         <span class="fb-logo">f</span> <span class="fb-cn">Log in with Facebook</span>
      </div>
      <div class="fr-pw">
          Forgot Password?
      </div>
</form>

</div>

</div>
<div class="sign-up">
   Don't have an account?<a routerLink="/register">Sign up</a> 
</div>