.wr input{
    width: 100%;
    font-size: 14px;
    padding:6px;
    margin:10px auto;
}
.wr button{
    width: 100%;
    margin:10px auto;
    border:none;
    padding-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    background:rgb(178, 223, 252);
    color:#fff;
}
form{
    display: flex;
    flex-direction: column;
    padding:30px;
}
.mcard{
    width: 400px;
    height: 65vh;
    border:1px solid gray;
    margin:auto;
    margin-top: 50px;
}
.mcard .brand-name{
    text-align: center;
    margin-top: 30px;
    color:#000;
    font-size: 30px;
    font-style: italic;
}
.orj .hr{
    background:#000;
    width: 150px;
    height: 1px;
}
.orj{
    display: flex;
    flex-direction: row;
    align-items: center;
margin-bottom: 15px;
margin-top: 15px;
}
.orj .orr{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    color:gray;
}
.fb-lg .fb-logo{
    color:#fff;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px;
    display: inline-block;
    background:rgb(56, 81, 133);
}
.fb-lg {
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fb-lg .fb-cn{
    font-size: 15px;
    margin-left: 5px;
}
.fr-pw{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}
.sign-up{
    width: 400px;
    height: 70px;
    border:1px solid gray;
    margin:20px auto;
}
.sign-up{
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}
.sign-up a{
    color:#0095f6;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}