.non h1{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: capitalize;
}

form{
    background: url('/assets/images/map-color-overlay.png');
    height: 200px;
    padding-top: 30px;
    padding-left: 30px;
}
form button{
    padding:10px 20px;
    border:none;
    color:#fff;
    border-radius: 30px;
    margin-left: 20px;
    background: -webkit-linear-gradient(bottom left, #ff795f, #ce1768)
}
form input{
    height: 50px;
    background:#fff;
    border:none;
    box-shadow: 0 0 2px gray;
    padding-left: 20px;
    outline:none;
    margin-right: 20px;
    border-radius: 35px;
}
@media (max-width:567px){
    form input{
        margin:10px 10px;
    }
    form button{
        margin-top: 20px;
    }
}
@media (min-width:568px) and (max-width:767px){
    form input{
        margin:10px 10px;
    }
}
@media (min-width:768px) and (max-width:991px){
 form button{
     margin-top: 20px;
 }   
}