.xo{
    margin-left: 10px;
}
.xo h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    color:#000;
    text-decoration: underline;
    cursor: pointer;
}
.xo p{
    margin-bottom: 0;
    font-size: 14px;
}
.im-wr img{
    width: 50px;
    height: 50px;
}
.co{
    display: flex;
    flex-direction: row;
}