.sya h1{
    text-align: center;
}
.card
{
    width: 300px;
    border-left: 5px solid #ff795f;
    margin:10px 20px;
}
.card img{
    border-radius: 50%;
    width: 90px;

}

.ci{
    font-size: 15px;
    color:gray;
    font-weight: 500;
}
.iyh{
    display: flex;
    flex-direction: row;
}
.co h1{
    font-size: 25px;
    font-weight: bold;
}
.im{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:4px solid #ff795f;
}