<div class="sya">
    <h1>What people say</h1>
    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']" >  
   <div>
    <div class="card">
        <div class="card-body">
            <div class="iyh">
            <div class="im">
            <img src="/assets/images/review-img-1.jpg">
        </div>
        <div class="co">
            <h1>jack smith</h1>
            <p>Google Inc.</p>
        </div>
        </div>
        <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
        </div>
    </div>
</div>
<div>
    <div class="card">
        <div class="card-body">
            <div class="iyh">
            <div class="im">
            <img src="/assets/images/review-img-1.jpg">
        </div>
        <div class="co">
            <h1>jack smith</h1>
            <p>Google Inc.</p>
        </div>
        </div>
        <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
        </div>
    </div>
</div>
<div>
    <div class="card">
        <div class="card-body">
            <div class="iyh">
            <div class="im">
            <img src="/assets/images/review-img-1.jpg">
        </div>
        <div class="co">
            <h1>jack smith</h1>
            <p>Google Inc.</p>
        </div>
        </div>
        <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
        </div>
    </div></div>
    <div>
        <div class="card">
            <div class="card-body">
                <div class="iyh">
                <div class="im">
                <img src="/assets/images/review-img-1.jpg">
            </div>
            <div class="co">
                <h1>jack smith</h1>
                <p>Google Inc.</p>
            </div>
            </div>
            <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <div class="iyh">
                <div class="im">
                <img src="/assets/images/review-img-1.jpg">
            </div>
            <div class="co">
                <h1>jack smith</h1>
                <p>Google Inc.</p>
            </div>
            </div>
            <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
            </div>
        </div>
    </div>
    <div>
        <div class="card">
            <div class="card-body">
                <div class="iyh">
                <div class="im">
                <img src="/assets/images/review-img-1.jpg">
            </div>
            <div class="co">
                <h1>jack smith</h1>
                <p>Google Inc.</p>
            </div>
            </div>
            <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
            </div>
        </div></div>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="iyh">
                    <div class="im">
                    <img src="/assets/images/review-img-1.jpg">
                </div>
                <div class="co">
                    <h1>jack smith</h1>
                    <p>Google Inc.</p>
                </div>
                </div>
                <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="iyh">
                    <div class="im">
                    <img src="/assets/images/review-img-1.jpg">
                </div>
                <div class="co">
                    <h1>jack smith</h1>
                    <p>Google Inc.</p>
                </div>
                </div>
                <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="iyh">
                    <div class="im">
                    <img src="/assets/images/review-img-1.jpg">
                </div>
                <div class="co">
                    <h1>jack smith</h1>
                    <p>Google Inc.</p>
                </div>
                </div>
                <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                </div>
            </div></div>
    </owl-carousel>


    <div class="owl-carousel owl-theme">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="iyh">
                    <div class="im">
                    <img src="/assets/images/review-img-1.jpg">
                </div>
                <div class="co">
                    <h1>jack smith</h1>
                    <p>Google Inc.</p>
                </div>
                </div>
                <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                </div>
            </div></div>
            <div>
                <div class="card">
                    <div class="card-body">
                        <div class="iyh">
                        <div class="im">
                        <img src="/assets/images/review-img-1.jpg">
                    </div>
                    <div class="co">
                        <h1>jack smith</h1>
                        <p>Google Inc.</p>
                    </div>
                    </div>
                    <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                    </div>
                </div></div>
                <div>
                    <div class="card">
                        <div class="card-body">
                            <div class="iyh">
                            <div class="im">
                            <img src="/assets/images/review-img-1.jpg">
                        </div>
                        <div class="co">
                            <h1>jack smith</h1>
                            <p>Google Inc.</p>
                        </div>
                        </div>
                        <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                        </div>
                    </div></div>
                    <div>
                        <div class="card">
                            <div class="card-body">
                                <div class="iyh">
                                <div class="im">
                                <img src="/assets/images/review-img-1.jpg">
                            </div>
                            <div class="co">
                                <h1>jack smith</h1>
                                <p>Google Inc.</p>
                            </div>
                            </div>
                            <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                            </div>
                        </div></div>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="iyh">
                                    <div class="im">
                                    <img src="/assets/images/review-img-1.jpg">
                                </div>
                                <div class="co">
                                    <h1>jack smith</h1>
                                    <p>Google Inc.</p>
                                </div>
                                </div>
                                <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                                </div>
                            </div></div>
                            <div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="iyh">
                                        <div class="im">
                                        <img src="/assets/images/review-img-1.jpg">
                                    </div>
                                    <div class="co">
                                        <h1>jack smith</h1>
                                        <p>Google Inc.</p>
                                    </div>
                                    </div>
                                    <p class="ci">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, eligendi facere, explicabo at assumenda consectetur quasi sed quidem quisquam recusandae animi, tempore quos maiores totam!</p>
                                    </div>
                                </div></div>
    </div>
</div>