
<div class="mcard">
    <h1>Instagram</h1>
    <p class="cr">Sign up to see photos and videos from your friend</p>
<div class="fb-btn">
    <span class="fb-logo">f</span>
    <span class="bn">Log in with Facebook</span>
</div>
<div class="orj">
    <div class="hr"></div>
    <div class="orr">OR</div>
    <div class="hr"></div>
  </div>
  <div class="wr">
    <form #myForm="ngForm">
    <input type="text" placeholder="Fullname" ngModel name="fullname">
    <input type="number" placeholder="Phone" ngModel name="phone">
    <input type="email" placeholder="Email" ngModel name="email">
    <input type="password" placeholder="Password" ngModel name="password">
    <button (click)="registerUser(myForm.value)">Register</button>
</form>
</div>
</div>
<div class="hv-ac">
    Have an account?<span class="log-in" routerLink="/login">Log in</span>
</div>