.wr input{
    width: 270px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin:10px auto;
}
.wr button{
    width: 270px;
    margin:10px auto;
    border:none;
    padding-top: 5px;
    padding-bottom: 5px;
    background:rgb(178, 223, 252);
    border-radius: 5px;
    color:#fff;
}
form{
    display: flex;
    flex-direction: column;
}
.mcard{
    width: 350px;
    height: 80vh;
    border:1px solid gray;
    margin:auto;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.mcard h1{
    text-align: center;
margin-top: 30px;
margin-bottom: 20px;
font-size: 30px;
font-style: italic;
}
.mcard .cr{
    text-align: center;
    font-size: 18px;
    color:gray;
}
.fb-btn{
    background:rgb(0, 149, 246);
    width:270px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.fb-btn .fb-logo{
    background:#fff;
    padding-left: 10px;
    padding-right: 5px;
    font-weight: bold;
    display: inline-block;
    color:rgb(48, 169, 247);
}
.bn{
    margin-left: 5px;
    color:#fff;
    font-size: 16px;
}
.orj .hr{
    background:#000;
    width: 150px;
    height: 1px;
}
.orj{
    display: flex;
    flex-direction: row;
    align-items: center;
margin-bottom: 15px;
margin-top: 15px;
}
.orj .orr{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    color:gray;
}
.hv-ac{
    width: 350px;
    height: 60px;
    border:1px solid gray;
    margin:20px auto;
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
}
.hv-ac .log-in{
    color:rgb(167, 162, 242);
    cursor: pointer;
}